<!DOCTYPE html>
<html lang="zh-cn" id="html">
<head>
  <meta name="renderer" content="webkit">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="x5-fullscreen" content="true">
  <meta name="full-screen" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <link rel="apple-touch-icon" sizes="180x180" href="http://bulma.io/favicons/apple-touch-icon.png?v=201609251738">
  <link rel="icon" type="image/png" href="http://bulma.io/favicons/favicon-32x32.png?v=201609251738" sizes="32x32">
  <link rel="icon" type="image/png" href="http://bulma.io/favicons/favicon-16x16.png?v=201609251738" sizes="16x16">
  <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="//cdn.bootcss.com/bulma/0.2.1/css/bulma.min.css" rel="stylesheet">
  <title>riot-bulma</title>
</head>
<body>
  <app></app>

  {% for bundle in bundles %}
    <script src="{{bundle}}"></script>
  {% endfor %}
</body>
</html>